@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900 text-white;
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-slate-800;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-600 rounded;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-500;
}
