@import "tailwindcss";

body {
  background-color: rgb(15 23 42);
  color: white;
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgb(30 41 59);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(71 85 105);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(100 116 139);
}